*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    text-align: center;
}

.dole a{
    text-align: center;
}

h1{
    color: aliceblue;
    text-align: center;
    text-shadow: 1px 1px 5px red;;
}

body{
    background-color: lightgray;
}

h2{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}

img{
    width: 300px;
    margin-left: 500px;
}

footer{
    text-align: center;
    background-color: black;
    color: aliceblue;
    margin-top: 90px;
}

button{
    font-size: 20px;
}