*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    text-align: center;
}

h1{
    color: white;
    text-shadow: 1px 1px 5px red;
}

a{
    color: aliceblue;
    font-size: 25px;
    
}

button{
    font-size: 20px;
}

.jooj h1{
    text-align: center;
    color: black;
    text-shadow: 0px 0px 0px;
}

body{
    background-color: lightgray;
}

p{
    margin-left: 85px;
}

.jota h1{
    text-align: center;
    color: white;
    text-shadow: 0px 0px 0px;
    font-size: 20px
}
footer{
    margin-top: 350px;
    background-color: black;
}